<header id="userHeader">
  <div>
    <img src="/images/dog.png" alt="dog icon">
    <h1>DOGGO-CONNECT</h1>
  </div>
   <div>
    <a href="/private">Dashbord</a>
    <a href="/logout">Logout</a>
  </div>
</header>

{{#with dog}}
<div id="dogDetailFlex">
  <img src="{{imageUrl}}" alt="">
  <div>
    <h1>{{name}}</h1>
    <ul>
      <li><span>Breed:</span>{{breed}}</li>
      <li><span>Size:</span>{{size}}</li>
      <li><span>Age in months:</span>{{age}}</li>
      <li><span>Gender:</span>{{gender}}</li>
      <li><span>Description:</span></li>
      <li>{{description}}</li>
      <li>{{name}} is sheltered by <a href="/shelterDetails/{{_id}}">{{shelter.name}}</a>.</li>
    </ul>
    <div>
      <h3>Your application to adopt {{name}} is on its way!</h3>
      <h3>The shelter will contact you per mail.</h3>
    </div>
  </div>
</div>

{{/with}}