<header id="userHeader">
  <div>
    <img src="/images/dog.png" alt="dog icon">
    <h1>DOGGO-CONNECT</h1>
  </div>
  <div>
    <a href="/private">Dashboard</a>
    <a href="/logout">Logout</a>
  </div>
</header>

{{#with dog}}
<div id="dogDetailFlex">
  <img src="{{imageUrl}}" alt="dog picture">
  <div>
    <a href="/dogs/{{this._id}}"><h1>{{name}}</h1></a>
  
    {{#each messages}}

    <div id="applicationMessage">
        <p id="time">{{created}}</p>
        <p id="messageA">{{message}}</p>
        <a href="mailto: {{applicant.email}}" id="mailButton">Send Email</a>
    </div>
   
    {{/each}}
    
    <a href="/applications">To applications overview</a>
  </div>
</div>

{{/with}}
