<header id="userHeader">
  <div>
    <img src="/images/dog.png" alt="dog icon">
    <h1>DOGGO-CONNECT</h1>
  </div>
  <div>
    <a href="/private">Dashbord</a>
    <a href="/logout">Logout</a>
  </div>
</header>

<form action="/dogs/{{dog._id}}/edit" method="POST" enctype="multipart/form-data" id="creationForm">

  <div id="form-container">

    <h2>Update the dog info</h2>
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" class="inputFieldSignUp" value="{{dog.name}}">
    </div>

    <div>
      <label for="age">Age in months</label>
      <input type="number" name="age" id="age" class="inputFieldSignUp"  value="{{dog.age}}">
    </div>

    <div>
        <label for="gender" class="selectLabel">Gender</label>
        <select name="gender" id="gender" class="selections">
          {{{optionsGender}}}
        </select>

        <label for="size" class="selectLabel">Size</label>
        <select name="size" id="size" class="selections">
          {{{optionsSize}}}
        </select>
    </div>

    <div>
      <label for="breed">Breed</label>
      <input type="text" name="breed" id="breed" class="inputFieldSignUp" value="{{dog.breed}}">
    </div>

    <div>
      <label for="image">Image</label>
      <input type="file" name="image" id="image-input" class="fileInput" />
      <input type="text" name="existingImage" hidden id="" value="{{dog.imageUrl}}">
    </div>

    <div>
      <label for="description">Description</label><br>
      <textarea name="description" id="description" cols="45" rows="5" placeholder="Describe your doggo...">{{dog.description}}</textarea>
    </div>
    <button type="submit" id="createButton">Update</button>
  </div>
  {{#if message}}
    <div class="error-messageCreation"><p>{{message}}</p></div>
  {{/if}}
</form>