<header id="userHeader">
  <div>
    <img src="/images/dog.png" alt="dog icon">
    <h1>DOGGO-CONNECT</h1>
  </div>
  <div>
    <a href="/private">Dashboard</a>
    <a href="/logout">Logout</a>
  </div>
</header>

<div id="shelterProfileView">

  <h2>Your profile information</h2>

  {{#with user}}
  <p><span class="profileInfo">Name:</span>{{name}}</p> 

  <p><span class="profileInfo">Mail:</span>{{email}}</p>

  <p><span class="profileInfo">Address:</span>{{street}}, {{postcode}} {{city}}</p> 

  {{/with}}

  <a href="/private/profile" id="shelterButton">Edit</a>

</div>