<header id="userHeader">
  <div>
    <img src="/images/dog.png" alt="dog icon">
    <h1>DOGGO-CONNECT</h1>
  </div>
  <div>
    <a href="/private">Dashbord</a>
    <a href="/logout">Logout</a>
  </div>
</header>

<h1>Your profile information</h1>

<div>

{{#with user}}
<p>{{name}}</p> 

<p>{{username}}</p>

<p> {{email }} </p>

 
<p> Full name of your organization: {{name}}  </p>

<p> Address: {{street}} {{city}} {{postcode}}</p> 

{{/with}}

<p>By editing your profile you increase the chances for a doggo</p>
<a href="/private/profile">Edit your profile</a>

</div>