<h1>Your profile information</h1>

<div>

{{#with user}}
<p>{{name}}</p> 

<p>{{username}}</p>

<p> {{email }} </p>

<p> Full address: {{street}} {{city}} {{postcode}}</p>


{{/with}}

<a href="/private">Return to your dashboard</a>





</div>