{{#with dog}}

<p>{{name}}</p>
 
{{!-- SHELTER INFO WITH POSSIBILITY TO UPDATE THE PROFILE --}}
<h2>Shelter Info: {{shelter.name}}, {{shelter.street}}, {{shelter.city}}, {{shelter.postcode}}</h2>
<p>If your personal information is no longer accurate, please consider <a href="/private/profile">changing it</a>  </p>


{{!-- DOG INFO --}}
<img style="width:100px" src="{{image}}" alt="">

<p>{{age}}</p>

<p>{{gender}}</p>

<p>{{size}}</p>

<p>{{breed}}</p>

<p>{{description}}</p>


{{/with}}

<a href="/private">Return to your dashboard</a>