<header id="userHeader">
  <div>
    <img src="/images/dog.png" alt="dog icon">
    <h1>DOGGO-CONNECT</h1>
  </div>
  <div>
    <a href="/private">Dashbord</a>
    <a href="/logout">Logout</a>
  </div>
</header>

{{#with dog}}
<div id="dogDetailFlex">
  <img src="{{imageUrl}}" alt="">
  <div id="dogDetailWrapper">
    <h1>{{name}}</h1>
    <ul>
      <li><span>Breed:</span>{{breed}}</li>
      <li><span>Size:</span>{{size}}</li>
      <li><span>Age in months:</span>{{age}}</li>
      <li><span>Gender:</span>{{gender}}</li>
      <li><span>Description:</span></li>
      <li>{{description}}</li>
    </ul>
    <div id="buttonFlex">
      <a class="detailButton" href="/dogs/{{_id}}/edit">Edit</a>
      <a class="detailButton" href="/dogs/{{_id}}/delete">Delete</a>
    </div>
    <a href="/dogs/all">Back</a>
  </div>
</div>

{{/with}}
